<ion-view view-title="" name="home">
	<ion-nav-bar class="bar-positive" ng-style="{'background-color': viewColor}">
	    <ion-nav-buttons side="right">
	    	<span ng-switch="user.loginType">
		    	<span ng-switch-when="google" class="button button-clear icon-left ion-log-out" ng-click="showGoogleLogOutMenu()">Sign out&nbsp;<img src="{{user.picture}}" height="30" width="30"></img></span>
		    	<span ng-switch-when="facebook" class="button button-clear icon-left ion-log-out" ng-click="showFBLogOutMenu()">Sign out&nbsp;<img src="{{user.picture}}" height="30" width="30"></img></span>
		    </span>
	    </ion-nav-buttons>
  	</ion-nav-bar>
  <ion-content class="padding">
  	You're logged in as <b>{{user.name}}</b>
  </ion-content>
</ion-view>